@model List<LojaAutoPecas.Models.Pecas>

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-3.3.1.js")" type="text/javascript"></script>
<script>
  

</script>

<h2>SearchResult</h2>



<div class="row">
    <div class="col" id="#form">
        @using (Ajax.BeginForm("SearchResult", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "#loading" }))
        {
            <p>Id: @Html.TextBox("id")</p>
            <p>Name: @Html.TextBox("name")</p>
            <p>description: @Html.TextBox("description")</p>
            <input type="submit" value="OK" />
        }
    </div>
</div>

<div id="loading"></div>

@Html.Partial("_SearchResult", Model)

        <br />
        <br />
        @Html.ActionLink("Add Item", "Create", new { }, htmlAttributes: new { @class = "btn btn-primary" })
